#!/usr/bin/env bash

dir={{ audit_dir }}
email={{ audit_email }}
backup_dir={{ backup_dir }}
file_audit_dir={{ file_audit_dir }}

date=`date +%m-%d-%Y`
rm -f ${backup_dir}/*

echo "### stopping rocketchat.audit ###"
sudo service rocketchat.audit stop
mv ${dir}/file_uploads.log ${file_audit_dir}/file_uploads.log.${date} 2>/dev/null

echo "### processing logs ###"
for log_file in `ls ${dir}`; do
  echo ${log_file}
  mail -s "chat for room $log_file" ${email} < ${dir}/${log_file}
  mv ${dir}/${log_file} ${backup_dir}/${log_file}
done

echo "### restarting rocketchat.audit ###"
sudo service rocketchat.audit start
