#!upstart

description "start the Rocket.Chat.Audit service"

setuid {{ user }}
setgid {{ group }}

# delay startup until after pam/ldap daemon
start on stopped rc
stop on shutdown

exec /usr/bin/python {{ script_bin_dir }}/rocketchat.audit.py {% if service_verbosity > 0 %}-{% for n in range(service_verbosity) %}v{% endfor %}{% endif %}
